body{
    width: 100%;
    height: 100%;
    margin: 0px;
}

$colorLightBase: rgb(240, 240, 240);
$colorLightDarker: rgb(210, 210, 210);
$colorDarkBase: rgb(50, 50, 50);

#container{
    width: 100%;
    height: 100%;
    font-size: 0px;
    overflow: hidden;
    background-color: $colorDarkBase;
    color: $colorLightBase;
    font-family: 'Inconsolata', monospace;
    #game-of-life {
        height: 100%;
        width: 100%;
        #display {
            height: 70%;
            width: 100%;
            .display-ratio-fixed{ 
                height: 100%;
                width: 100%;
                //overflow: hidden;
                >div {
                    border: 1px solid $colorDarkBase;
                    box-sizing: border-box;
                    display: inline-block;
                    cursor: pointer;
                }
                .alive {
                    background-color: white;
                }
                .dead {
                    background-color: black;
                }
            }
        }
        #controls {
            position: relative;
            height: 30%;
            margin: auto;
            font-size: 16px;
            overflow: auto;
            text-align: center;
            .controls-wrap {
                display: inline-block;
                padding: 3px 5px;
                margin: 16px 6px;
                >*{
                    vertical-align: middle;
                    margin: 3px 5px;
                    display: inline-block;
                }
                .generations {
                    width: 8em;
                    text-align: right;
                    overflow: visible;
                }
                .button {
                    font-size: inherit;
                    background-color: $colorLightBase;
                    color: $colorDarkBase;
                    border: none;
                    cursor: pointer;
                    padding: 4px 9px;
                    font-family: 'Inconsolata', monospace;
                }
                .text-input {
                    border: none;
                    font-size: inherit;
                    padding: 3px 5px;
                    text-align: right;
                    background-color: $colorLightBase;
                    color: $colorDarkBase;
                    width: 2.5em;
                    font-family: 'Inconsolata', monospace;
                }
                .slider {
                    margin: 3px 5px;
                }
                .toggle {
                    width: 36px;
                    height: 24px;
                    background-color: $colorLightBase;
                    position: relative;
                    cursor: pointer;
                    input {
                        display: none;
                    }
                    div {
                        position: absolute;
                        left: 18px;
                        right: 3px;
                        top: 3px;
                        bottom: 3px;
                        background-color: $colorDarkBase;
                    }
                    input:checked + div{
                        left: 3px;
                        right: 18px;
                    }
                }
            }
        }
    }
}
