body{
    width: 100%;
    height: 100%;
    margin: 0px;
}

$colorLightBase: rgb(240, 240, 240);
$colorDarkBase: rgb(50, 50, 50);

#container{
    width: 100%;
    height: 100%;
    font-size: 0px;
    overflow: hidden;
    background-color: $colorDarkBase;
    color: $colorLightBase;
    #game-of-life {
        height: 100%;
        width: 100%;
        #display {
            height: 70%;
            width: 100%;
            .display-ratio-fixed{ 
                height: 100%;
                width: 100%;
                //overflow: hidden;
                >div {
                    border: 1px solid $colorDarkBase;
                    box-sizing: border-box;
                    display: inline-block;
                }
                .alive {
                    background-color: white;
                }
                .dead {
                    background-color: black;
                }
            }
        }
        #controls {
            .controls-wrap {
                display: inline-block;
                padding: 3px 5px;
                margin: 4px 6px;
                >*{
                    vertical-align: middle;
                    margin: 3px 5px;
                    display: inline-block;
                }
                .button {
                    font-size: 16px;
                    background-color: $colorLightBase;
                    color: $colorDarkBase;
                    border: none;
                    cursor: pointer;
                    padding: 4px 9px;
                }
                .text-input {
                    border: none;
                    font-size: inherit;
                    padding: 3px 5px;
                    text-align: right;
                    background-color: $colorLightBase;
                    color: $colorDarkBase;
                    width: 2.5em;
                }
                .slider {
                    margin: 3px 5px;
                }
            }
        }
    }
}
